:root {
    --ifm-color-primary: #4f6f52;

    --ifm-color-primary-dark: #446147;
    --ifm-color-primary-darker: #39533c;
    --ifm-color-primary-darkest: #2e4531;

    --ifm-color-primary-light: #6f8f72;
    --ifm-color-primary-lighter: #8faa8e;
    --ifm-color-primary-lightest: #b0c7b0;
}