:root {
  --ifm-color-primary: #166534;
  --ifm-color-primary-dark: #14532d;
  --ifm-color-primary-darker: #0f3f23;
  --ifm-color-primary-darkest: #0a2b18;
  --ifm-color-primary-light: #15803d;
  --ifm-color-primary-lighter: #16a34a;
  --ifm-color-primary-lightest: #22c55e;
}
