@page "/counter"
@using global::InfiniLore.Photino.NET
@inject IPhotinoWindow Window
@inject ILogger<Counter> Logger

<h1>Counter</h1>

<p>Current count: @_currentCount</p>

<button class="btn btn-primary" @onclick="@(_ => IncrementCount())">Click me</button>

@code {
    private int _currentCount;

    private void IncrementCount() {
        _currentCount++;

        Logger.LogWarning("State {s}", Window.ContextMenuEnabled);
        Window.CenterOnMonitor();
    }
}
