@using InfiniLore.Photino.Blazor

@namespace Example.Blazor.Sample.Shared

@inherits LayoutComponentBase


<div class="sidebar">
    <NavMenu/>
</div>

<div class="main">
    <div class="top-row align-items-start">
        <PhotinoWindowDragArea class="w-100 bg-dark h-100"/>
        
        <PhotinoWindowButton WindowAction="WindowAction.Minimize"/>
        <PhotinoWindowButton WindowAction="WindowAction.Maximize"/>
        <PhotinoWindowButton WindowAction="WindowAction.Close"/>
        
        @* <a href="https://blazor.net" target="_blank" class="ml-md-auto">About</a> *@
    </div>

    <div class="content px-4 ">
        @Body
    </div>
</div>

<PhotinoWindowResizeThumbContainer/>
