<div>
    <h1>@_message!</h1>

    <p>Current count: @_currentCount</p>

    <button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
</div>

@code
{
    private string? _message;
    private int? _currentCount;

    protected override void OnInitialized() {
        _message = "Hello InfiniLore.Photino.Blazor!";
    }

    void IncrementCount(object e) {
        _currentCount++;
    }
}
