.git
.github
.idea
.run
artifacts
.tmp
.pytest_cache
docs/node_modules
docs/.docusaurus
docs/build
src/InfiniFrame.NativeBridge/Native/packages
src/InfiniFrame.NativeBridge/build
**/node_modules
**/bin
**/obj
