name: Release to Nuget

on:
    workflow_dispatch:
    push:
        tags:
            - 'v*.*.*'

jobs:
    # ------------------------------------------------------------------------------------------------------------------
    # Build multi-architecture binaries
    # ------------------------------------------------------------------------------------------------------------------
    build:
        name: Build ${{ matrix.os }} / ${{ matrix.arch }}
        runs-on: ${{ matrix.os }}
        strategy:
            fail-fast: false
            matrix:
                os: [ubuntu-latest, windows-latest, macos-latest]
                arch: [x64, arm64]
        
        env:
            DOTNET_SKIP_FIRST_TIME_EXPERIENCE: 1
            DOTNET_CLI_TELEMETRY_OPTOUT: 1
            Configuration: Release
        
        steps:
            -   uses: actions/checkout@v5
                with:
                    fetch-depth: 0

            -   name: Setup .NET 9 SDK
                uses: actions/setup-dotnet@v5
                with:
                    dotnet-version: '9.x'

            -   name: Cache NuGet packages
                uses: actions/cache@v4
                with:
                    path: ~/.nuget/packages
                    key: ${{ runner.os }}-nuget-${{ hashFiles('**/packages.lock.json') }}
                    restore-keys: ${{ runner.os }}-nuget-

            -   name: Setup CMake
                uses: lukka/get-cmake@latest
        
            # ---------------- Linux/macOS dependencies ----------------
            -   name: Install GTK3 (Linux)
                if: matrix.os == 'ubuntu-latest'
                run: | 
                    sudo apt-get update
                    sudo apt install -y  \
                        libgtk-3-dev \
                        libwebkit2gtk-4.1-dev \
                        libssl-dev \
                        libcurl4-openssl-dev \
                        zlib1g-dev \
                        libnotify-dev

            -   name: Install GTK3 (macOS)
                if: matrix.os == 'macos-latest'
                run: brew install gtk+3 pkg-config
            
            # ---------------- Build Windows ----------------
            -   name: Build InfiniFrame.Native (Windows)
                if: matrix.os == 'windows-latest'
                shell: pwsh
                run: |
                    dotnet build "src/InfiniLore.InfiniFrame.Native/InfiniLore.InfiniFrame.Native.proj" `
                        --configuration Release `
                        --no-restore `
                        -p:SolutionDir="$GITHUB_WORKSPACE" `
                        -p:Platform=${{ matrix.arch }}
            
            # ---------------- Build Linux ----------------
            -   name: Build InfiniFrame.Native (Linux)
                if: matrix.os == 'ubuntu-latest'
                run: |
                    dotnet build "src/InfiniLore.InfiniFrame.Native/InfiniLore.InfiniFrame.Native.proj" \
                        --configuration Release \
                        --no-restore \
                        /p:SolutionDir="$GITHUB_WORKSPACE" \
                        /p:Platform=${{ matrix.arch }}
            
            # ---------------- Build macOS ----------------
            -   name: Build InfiniFrame.Native (macOS)
                if: matrix.os == 'macos-latest'
                run: |
                    dotnet build "src/InfiniLore.InfiniFrame.Native/InfiniLore.InfiniFrame.Native.proj" \
                        --configuration Release \
                        --no-restore \
                        /p:SolutionDir="$GITHUB_WORKSPACE" \
                        /p:Platform=${{ matrix.arch }}

            -   name: Upload build artifact
                uses: actions/upload-artifact@v5
                with:
                    name: app-${{ matrix.os }}-${{ matrix.arch }}
                    path: src/InfiniLore.InfiniFrame.Native/artifacts/native/${{ matrix.arch }}/Release
    
#    release:
#        name: Create GitHub Release
#        runs-on: ubuntu-latest
#        needs: build
#        if: startsWith(github.ref, 'refs/tags/v')
#        steps:
#            -   name: Download build artifacts
#                uses: actions/download-artifact@v6
#                with:
#                    path: dist
#
#            -   name: Zip builds
#                run: |
#                    mkdir release
#                    for dir in dist/*; do
#                        name=$(basename "$dir")
#                        zip -r "release/$name.zip" "$dir"
#                    done
#
#            -   name: Create GitHub Release
#                uses: softprops/action-gh-release@v2
#                with:
#                    files: release/*.zip
#                    generate_release_notes: true
#    
#    nuget:
#        name: Publish to NuGet
#        runs-on: ubuntu-latest
#        needs: build
#        if: startsWith(github.ref, 'refs/tags/v')
#        steps:
#            -   name: Checkout repository
#                uses: actions/checkout@v5
#
#            -   name: Setup .NET
#                uses: actions/setup-dotnet@v5
#                with:
#                    dotnet-version: '9.0.x'
#
#            -   name: Build (for NuGet)
#                run: dotnet pack --configuration Release -o ./nupkgs
#              
#            -   name: Upload NuGet packages as debug artifact
#                uses: actions/upload-artifact@v5
#                with:
#                    name: nuget-packages-${{ github.ref_name }}
#                    path: ./nupkgs/*.nupkg

#            - name: Push to NuGet
#              run: dotnet nuget push "./nupkgs/*.nupkg" --api-key ${{ secrets.NUGET_API_KEY }} --source https://api.nuget.org/v3/index.json
#              env:
#                  NUGET_API_KEY: ${{ secrets.NUGET_API_KEY }}
